@font-face {
      font-family: "Poppins";
      src: url("./assets//fonts/Poppins-Regular.ttf");
}

@font-face {
      font-family: "Monument";
      src: url("./assets//fonts/Monument-Ultrabold.otf");
      font-weight: 900;
}

@font-face {
      font-family: "Monument";
      src: url("./assets//fonts/Monument-Regular.otf");
}


:root {
      --bg: 255, 255, 255;
      --color: 15, 15, 19;
}

*,
::after,
::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      outline: 0;
      font-family: "Poppins", sans-serif;
      -webkit-font-smoothing: antialiased;
}

::selection {
      background-color: rgba(var(--color), .2);
}

@media screen and (min-width: 768px) {
      * {
            // cursor: none;
      }
}


html {
      font-family: Raleway, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
      font-size: 16px;
      word-spacing: 1px;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
}

body,
html {
      width: 100%;
      background: rgba(var(--bg), 1);
}

body::-webkit-scrollbar {
      width: 0;
}

img {
      display: block;
      user-select: none;
}

li {
      list-style: none;
}


.demo2 {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      height: auto;
}

.demo2 .content__img {
      width: 50%;
      height: auto;
      opacity: 1;
      transition: all 0.5s;
      margin: 0 auto;
      // display: none;
}

.demo2 .link {
      display: flex;
      width: 100%;
      height: 100%;

      &:hover>.content__img {
            opacity: 0;
            transition: all 0.5s;
      }
}

canvas {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 99;
      pointer-events: none;
}

.viewport {
      margin: 0 0 0 0;
      width: 100vw;
      overflow-x: hidden;
      position: fixed;
}

.scroll-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      will-change: transform;
      transition:  all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cursor {
      width: 28px;
      height: 28px;
      border: 1px solid rgba(var(--color), 1);
      position: fixed;
      border-radius: 50%;
      pointer-events: none;
      z-index: 6000;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      box-shadow: 0 0 2px 0 rgba(var(--color), 1);
}

.mouse {
      width: 4px;
      height: 4px;
      background: rgba(var(--color), 1);
      position: fixed;
      border-radius: 50%;
      pointer-events: none;
      z-index: 6000;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      box-shadow: 0 0 5px 0 rgba(var(--color), 1);
      display: flex;
      align-items: center;
      justify-content: center;
}

.icon-hover {
      transition: all .3s ease;
      opacity: 0;
      visibility: hidden;
      transform: scale(.4);
      position: absolute;
      color: #fff;
      pointer-events: none;

}

.icon-active-instagram {
      border: 1px solid transparent;
      background: transparent !important;
      mix-blend-mode: normal !important;
}

.icon-active-instagram+.cursor {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: #fff;
      mix-blend-mode: exclusion;
      border: 1px solid transparent;
}

.icon-active-instagram .iconx-instagram {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
}